[submodule "src/ar_track_alvar"]
    path = src/ar_track_alvar
    url = git@github.com:ucb-ee106/ar_track_alvar.git
    branch = indigo-devel
[submodule "src/ar_track_alvar_msgs"]
	path = src/ar_track_alvar_msgs
	url = git@github.com:sniekum/ar_track_alvar_msgs.git
